input[type="checkbox"] {
    display: none;
}

.wrap-collabsible {
    margin: 1.2rem 0;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #ddd;
    background: #0E2431;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

/* .lbl-toggle:hover {
    color: #fff;
} */

.lbl-toggle::before {
    content: " ";
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY(-2px);
    transition: transform 0.2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 75%;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(0, 105, 255, 0.2);
    padding: 0.5rem 1rem;
}

.collapsible-content p {
    margin-bottom: 0;
}

.collapsible-content .content-inner {
    padding-left: 4%;
}

/* Collapsible Section CSS */
.collapsible-section {
    margin: 40px auto;
    width: 80%;
}

.collapsible {
    background-color: #4070f4;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.collapsible:hover {
    background-color: #365e99;
}